/* //Variáveis// */
$mainColor: #95c5a0; /* Verde claro */
$darkMainColor: #698f75; /* Verde escuro */
$subColor:#ffe400; /* Amarelo */
$customFont:'Amatic SC', cursive;
$paddingSec: 80px;

/* //Placeholders// */
%titles {
	font-family: $customFont;
	font-size:4.6em;
	line-height: 1em;
}

%transitionDefault {
	-moz-transition: all .25s ease-out;
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out;
}

@mixin transitionCustom ($time:.25s, $type:linear) {
	-moz-transition: all $time $type;
	-webkit-transition: all $time $type;
	transition: all $time $type;
}

%imageReplacement {
	overflow: hidden;
	text-indent: -99999px;
}

%circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
%paddingSection {
	padding-top: $paddingSec;
	padding-bottom: $paddingSec;
}


body { 
	color: #fff; 
	font-size: 10px;
	font-family:"Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif
}

/* //Tipografia// */
h1, h2 { 
	@extend %titles; 
	margin-top: 40px;
	&:first-child {
		margin-top: 0;
	}
}

p { font-size: 1.6em; }

.btn-default {
	color: #fff;
	font-family: $customFont;
	font-size: 3em;
	background: none;
	border: 2px solid #fff;
	padding: 6px 20px;
	border-radius: 0;
	@extend %transitionDefault;

	&:hover, &:focus, &.active, &.active:hover, &.active:focus {
		background: #fff;
		border-color: #fff;
		color: $mainColor;
		box-shadow: none;
		outline: 0;
	}

	&.btn-color {
		color: $mainColor;
		border-color: $mainColor;

		&:hover, &:focus {
			background: $mainColor;
			border-color: $mainColor;
			color: #fff;
		}
	}
}

p + .btn-default { margin-top: 30px; }
label {
	@extend %titles;
	font-size: 3em;
}
.form-control {
	border: none;
	border-radius: 0;
	height: 40px;
}

blockquote p {
	font-size: 1em;
	font-style: italic;
}


/* //Base Style// */
.anchor { 
	position: absolute;
	top: -70px;
}

.navbar-default {
	background:none;
	border:none;
	padding: 10px 0;
	@extend %transitionDefault;

	&.darkHeader {
		background:rgba(0,0,0,.7);
	}

	.navbar-nav>li>a {
		color: #fff;
		font-family:$customFont;
		font-size: 3em;
		@extend %transitionDefault;

		&:focus, &:hover { 
			color: $mainColor;
		}

	}
}


.logoMenu {
	display: block;
	float: left;
	margin: 3px 0 0;
	width: 200px;

	a {
		background:url(../img/logoMenuP.png) no-repeat center center;
		color:#fff;
		display: block;
		height: 38px;
		@extend %imageReplacement;
	}
}





.mainBanner {

	background: $darkMainColor url(../img/bgTerrarios.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	min-height: 700px;

	.container {
		padding: 100px 0;
		height: 100%;
	}

	.callToAction {
		position: absolute;
		top: 50%;
		margin-top: -100px;
		z-index: 2;

		p {
		
			font-family: $customFont;
			font-size: 8em;
			line-height: 1em;
			position: relative;
		

			span { color: $subColor; }
		}
		.btn {
			font-size: 4em;

		}
	}

	

 
}


.secProdutos {

	background: #fff;
	position: relative;

	
	.boxProduto {
		padding: 0;
		position: relative;

		a { 
			color: #fff;
			background: #000;
			display: block;
			position: relative;
			overflow: hidden;
			@extend %transitionDefault;

			&:hover {
				//opacity: .9;
				//filter:alpha(opacity=90);
				
				img { 
					transform: scale(1.1,1.1);				
					z-index: 9;
					opacity: .6;
					filter:alpha(opacity=60);
					
				}
			}
		}

		img {
			@include transitionCustom(.8s);
		}

		p {
			@extend %titles;
			font-size: 3.6em;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin-bottom: 0;
			padding: 5px 0;
			text-align: center;
			background:rgba($mainColor,.9);
		}

		&:nth-child(even) p {
			background-color: rgba($darkMainColor,.9);
		}
	
	}
}

.darkBg {
	background: #222 url(../img/bgDarkWood.jpg) no-repeat center center; 
}
.styledBorder {
	background: $mainColor;
	height: 4px;
	position: relative;

	&:after {
		content: "";
		border-top:14px solid $mainColor;
		border-left:14px solid transparent;
		border-right:14px solid transparent;
		height: 0;
		width: 0;
		display: block;
		position: absolute;
		left: 50%;
		top: 4px;
		margin-left: -14px;
		z-index: 3;
	}
}

.secServicos {
	position: relative;

	&:after {
		content:"";
		display: block;
		width: 50%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		background: #222 url(../img/bgServicos.jpg) no-repeat center center; 

		@media (max-width:992px) {		
			display: none;
		}
	}
}

.secSobre {
	position: relative;

	&:after {
		content:"";
		display: block;
		width: 50%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: #222 url(../img/bgSobre.jpg) no-repeat center center;

		@media (max-width:992px) {
			display: none;
		}
	}
}

.secServicos, .secSobre {

	.boxTexto {
		
		@extend %paddingSection;
		padding-left: 30px;
		padding-right: 30px;
		

		h2 {
			color: $mainColor;
		}

	}
}


.secPortfolio{
	background: $darkMainColor url(../img/blurForest.jpg) no-repeat center center;
	background-size:cover;
	@extend %paddingSection;
	text-align: center;	
}

.secDepoimentos{
	@extend .secPortfolio;
	background: #f2f2f2;

	h1 { color: $mainColor; margin-bottom: 40px; }

	blockquote { 
		position: relative;
		border: none;
		z-index: 2;
		padding: 0 200px;
		color: #999;
	
		&:before, &:after {
			color: #ddd;
			display: block;
			position: absolute;
			top: 60px;
			left: 50px;
			content: open-quote;
			quotes: "\201C""\201D""\2018""\2019";
			font-family: arial;
			line-height: 0;
			transform: rotate(30deg);
			font-size:15em;
			z-index: -1;
			
		}
		&:after {	
			content: close-quote;		
			top: auto;
			left: auto;
			right: 120px;			
			bottom: 0;
			margin-bottom: -50px;
		}
	}
	
}

.secSocial{
	background: $mainColor;
	padding: 30px 0;
	text-align: center;
	position: relative;

	h1 { position: relative; }

	p {
		@extend %titles;
		font-size: 3.6em;
	}
}

.secInstagram {
	background: $mainColor url(../img/bgWood.jpg) no-repeat center top;
	@extend %paddingSection;

	h1 {
		text-align: center;

	}
}

#instafeed a { 
	display:block; 
	float:left; 
	width:12.5%;
	//margin: 1%;
	height: 200px;
	
	overflow: hidden;
	@extend %transitionDefault;

	&:hover { 
		opacity:.7; 
		filter:alpha(opacity=70); 
		zoom:1;
	}

	img { 
		display:block;
		min-height: 100%;
		width:100%;

		@media (max-width: 920px) {

		}
	}
}


.contato {
	@extend .darkBg;
	
	>.container {
		@extend %paddingSection;
	}

	h1, label {
		color: $mainColor;
	}
	form {
		margin-top: 30px;
	}
}

.boxContatos {

	background: rgba(0,0,0,.5) url(../img/letter.png) no-repeat right bottom;
	padding: 30px;
	margin-top: 60px;

	h2 {
		font-size: 3em;
		color: $mainColor;
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	p {
		font-weight: bold;
	}
}

.footer {
	background-color: $mainColor;
	padding: 10px 0;

	p {
		@extend %titles;
		font-size: 2.4em;
		margin: 0;
		text-align: center;
	}	
}



.mixControls {
	margin: 40px 0 20px;
}
.mixitup { 
	font-size: 0;
	text-align: justify
}
.mixitup:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.mixitup .mix, .mixitup .gap {
  display: inline-block;
  width: 24.5%;
}
.mixitup .mix{
  	
  	display: none;
  	//float: left;
  	font-size: 18px;
  	
  	margin-bottom: .7%;
  	height: 300px;
  	background: #03899c;

}




@media all and (min-width: 420px){
  .mixitup .mix, .mixitup .gap{
    //width: 32%;
  }
}

@media all and (min-width: 640px){
  .mixitup .mix, .mixitup .gap{
    //width: 23.5%;
  }
}